webappdemo/src/main/resources/types/entity.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.aztec.com/webappdemo/types"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.aztec.com/webappdemo/types">

    <xsd:element name="Entity">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="key" type="xsd:long" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="value" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>