soapdemo/src/main/resources/wsdl/entities.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.aztec.com/soapdemo/types" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.aztec.com/soapdemo/types" targetNamespace="http://www.aztec.com/soapdemo/types">
  <wsdl:types>
    <xsd:schema xmlns="http://www.aztec.com/soapdemo/types" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.aztec.com/soapdemo/types">
    
    <xsd:element name="EntityCreateRequest">
    	<xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="1" name="key" type="xsd:long"/>
                <xsd:element maxOccurs="1" minOccurs="1" name="value" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="EntityCreateResponse">
    	<xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="1" name="value" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="EntityCreateRequest">
    <wsdl:part element="tns:EntityCreateRequest" name="EntityCreateRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="EntityCreateResponse">
    <wsdl:part element="tns:EntityCreateResponse" name="EntityCreateResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Entities">
    <wsdl:operation name="EntityCreate">
      <wsdl:input message="tns:EntityCreateRequest" name="EntityCreateRequest">
    </wsdl:input>
      <wsdl:output message="tns:EntityCreateResponse" name="EntityCreateResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EntitiesSoap11" type="tns:Entities">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="EntityCreate">
      <soap:operation soapAction=""/>
      <wsdl:input name="EntityCreateRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="EntityCreateResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EntitiesService">
    <wsdl:port binding="tns:EntitiesSoap11" name="EntitiesSoap11">
      <soap:address location="http://localhost:8080/soapdemo"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>